@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Department
<h1>Edit Department  </h1>

<form action="/department/update">
   <input name="id" hidden value="@Model.Dno" />
    <div class="mb-3">
        <label for="name" class="form-label">Dname</label>
        <input type="Text" class="form-control" id="name" name="name" value="@Model.Dname">
    </div>
 
    <div class="mb-3">
        <label for="MGRStartDate" class="form-label">MGRStartDate</label>
        <input type="datetime" class="form-control" id="MGRStartDate" name="MGRStartDate" value="@Model.MGRStartDate">
    </div>


    <div class="mb-3 form-check">
        <label class="form-check-label" for="manager">Manager</label>
        <select name="MSSN" id="manager">
            @foreach (Employee item in ViewBag.Employees)
            {
                if (Model.MGRSSN == item.Superssn)
                {
                    <option value="@item.SSN" selected>@item.Fname</option>
                }
                else
                {
                    <option value="@item.SSN">@item.Fname</option>

                }

            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary"> Edit</button>
</form>
