@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    int i = 0;
}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Employee</th>
            <th scope="col">Project </th>
            <th scope="col">Hours </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(++i)</th>

                <td>
                    @if (item.Employee != null)
                    {
                        @item.Employee.Fname;
                        
                    }
                    else
                    {
                        @Html.Raw("Null")
                    }

                </td>
                <td>
                    @if (item.Project != null)
                    {
                        @item.Project.Pname;
                        
                    }
                    else
                    {
                        @Html.Raw("Null")
                    }

                </td>
                <td>

                    <div style="color:@(item.Hours>5?"green":"red");">
                        @item.Hours
                    </div>

                </td>


            </tr>
        }
    </tbody>
</table>